html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2.135em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-size: 15px;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}

ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
ul:not(.o-blanklist) li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}

tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}

pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/* ###################### */

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
  border-color: transparent;
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Merriweather Light"), local("Merriweather-Light"),
    url("../fonts/merriweather-v19-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/merriweather-v19-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Merriweather Italic";
  font-weight: 300;
  font-display: swap;
  src: local("Merriweather LightItalic"), local("Merriweather-LightItalic"),
    url("../fonts/merriweather-v19-latin-300italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/merriweather-v19-latin-300italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Work Sans SemiBold";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Work Sans SemiBold"), local("Work Sans SemiBold"),
    url("../fonts/work-sans-v4-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/work-sans-v4-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Work Sans ExtraBold";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Work Sans ExtraBold"), local("Work Sans ExtraBold"),
    url("../fonts/work-sans-v4-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/work-sans-v4-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ###################### */

:root {
  --gap: 15px;
  --vgap: 20px;
  --color-brand-primary: #357b97;
  --color-brand-secondary: #2c5263;
  font-family: "Merriweather", Georgia, serif;
  font-size: 1rem;
  line-height: 1.5;
}

a {
  color: var(--color-brand-primary);
}

h1,
h2,
h3 {
  font-family: "Work Sans ExtraBold", sans-serif;
  font-weight: 900;
  margin-top: 0;
}

.c-patterns__pattern {
  position: relative;
}

.c-patterns__pattern[data-mode="home"] {
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.c-patterns__pattern[data-mode="home"] .inner {
  padding: var(--vgap) var(--gap);
  flex: 1;
}

.c-patterns__pattern[data-mode="home"] p {
  margin-bottom: 0;
}

.c-patterns__pattern[data-mode="home"] h3 {
  font-size: 21px;
  line-height: 1;
}

.c-patterns__pattern[data-mode="page"] {
  margin-bottom: calc(2 * var(--vgap));
}

[data-mode="home"] .c-patterns-details {
  border-radius: 0 7px 7px;
}

.c-patterns-details {
  display: flex;
  width: 100%;
  list-style: none;
  overflow: hidden;
  margin: 0;
}

.c-patterns-details__item {
  padding: 0;
  color: #747474;
  flex: 1;
  text-align: center;
  min-height: 40px;
  line-height: 40px;
  font-family: "Work Sans SemiBold", sans-serif;
}

.c-patterns-details__item a {
  display: inline-block;
  text-decoration: none;
  background-color: var(--color-brand-primary);
  color: #fff;
  width: 100%;
  height: 100%;
  transition: background-color 0.25s;
}

.c-patterns-details__item a:focus,
.c-patterns-details__item a:hover {
  background-color: #2c5263;
  outline: none;
}

.o-interferer {
  background: #357b97;
  border: 1px solid #ffffff;
  font-family: "Work Sans SemiBold", sans-serif;
  font-size: 12px;
  color: #ffffff;
  display: inline-block;
  position: absolute;
  bottom: -9px;
  right: 25%;
  padding: 2px 4px;
  text-transform: lowercase;
  text-decoration: none;
  transform: rotate(-3deg);
  transition: background-color 0.25s;
}

.o-interferer:focus,
.o-interferer:hover {
  background-color: #2c5263;
  outline: none;
}

.o-buttonstyle {
  border: 2px solid #ffffff;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  padding: calc(var(--gap) / 2) var(--vgap);
  display: inline-block;
  margin-bottom: calc(var(--gap) / 2);
  min-width: 250px;
  font-family: "Work Sans SemiBold", sans-serif;
  transition: background-color 0.25s;
}

.o-buttonstyle--onwhite {
  border-color: var(--color-brand-primary);
  color: var(--color-brand-primary);
  transition: all 0.25s;
}

.o-buttonstyle:hover,
.o-buttonstyle:focus {
  background-color: rgba(0, 0, 0, 0.25);
  outline: none;
}

.c-edittext {
  padding: calc(var(--gap) / 3) calc(var(--vgap) / 2);
  min-width: 0;
}

.c-edittext:hover,
.c-edittext:focus {
  border-color: #444;
  color: #444;
  background-color: transparent;
  outline: none;
}

.o-blanklist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.o-arrow {
  margin-left: calc(var(--gap) / 3);
}

.u-visually-hidden {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.c-header {
  background-color: #357b97;
  background-color: var(--color-brand-primary);
  color: #fff;
  padding: calc(var(--vgap) * 1.25) 0;
}

.c-footer {
  background-color: var(--color-brand-secondary);
  margin-top: var(--vgap);
  padding: var(--vgap) 0;
  color: #fff;
}

.c-footer__meta {
  font-family: "Work Sans SemiBold", sans-serif;
  line-height: 2;
  margin-bottom: var(--vgap);
  font-size: 13px;
}

.c-footer__legal {
  font-family: "Merriweather Italic", Georgia, serif;
}

.c-footer__legal a {
  color: inherit;
  text-decoration: none;
  text-shadow: -0.07em -0.07em var(--color-brand-secondary),
    -0.07em 0.07em var(--color-brand-secondary),
    0.07em -0.07em var(--color-brand-secondary),
    0.07em 0.07em var(--color-brand-secondary);
  background-size: 1px 1em;
  box-shadow: inset 0 0 #fff, inset 0 -1px currentcolor;
  display: inline;
}

.c-footer__meta a {
  color: inherit;
  text-decoration: none;
  text-shadow: -0.07em -0.07em var(--color-brand-secondary),
    -0.07em 0.07em var(--color-brand-secondary),
    0.07em -0.07em var(--color-brand-secondary),
    0.07em 0.07em var(--color-brand-secondary);
  background-size: 1px 1em;
  box-shadow: inset 0 0 #fff, inset 0 -2px currentcolor;
  display: inline;
}

.c-stage {
  background-color: #357b97;
  background-image: linear-gradient(
    180deg,
    var(--color-brand-primary) 0%,
    var(--color-brand-secondary) 100%
  );
  padding-bottom: calc(var(--vgap) * 0.5);
  margin-bottom: calc(var(--vgap) * 1.5);
}

.c-intro {
  color: #fff;
}

.c-intro__text {
  margin-bottom: calc(var(--vgap) * 1.25);
}

.c-nav-main__list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-family: "Work Sans SemiBold", sans-serif;
}

.c-nav-main a {
  color: inherit;
  text-decoration: none;
  font-family: "Work Sans SemiBold", sans-serif;
  transition: background-color 0.25s;
  padding: 6px 9px;
  border-radius: 5px;
  border: 2px solid transparent;
  display: inline-block;
}

.c-nav-main a:focus {
  border-color: rgba(0, 0, 0, 0.25);
  outline: none;
}

.c-nav-main a[aria-current="page"] .u-linkhelper {
  text-decoration: none;
  text-shadow: -0.07em -0.07em var(--color-brand-primary),
    -0.07em 0.07em var(--color-brand-primary),
    0.07em -0.07em var(--color-brand-primary),
    0.07em 0.07em var(--color-brand-primary);
  background-size: 1px 1em;
  box-shadow: inset 0 0 #fff, inset 0 -2px currentcolor;
  display: inline;
}

.c-header h1 {
  margin: 0 0 var(--vgap);
  line-height: 1.0625;
}

.c-header h1 a {
  color: inherit;
  text-decoration: none;
}

.c-header h1 a:focus {
  outline: none;
  opacity: 0.5;
}

.u-nowrap {
  white-space: nowrap;
}

.c-nav-main {
  display: flex;
  margin: var(--vgap) 0;
}

.c-nav-main__list {
  margin-left: -8px;
}

.c-patterns__pattern[data-mode="home"] {
  margin-bottom: calc(2 * var(--vgap));
}

.c-buttongroup {
  margin-bottom: calc(2 * var(--vgap));
}

.c-homecontent h2 {
  color: var(--color-brand-secondary);
  font-size: 25px;
  margin-bottom: 0.75em;
  line-height: 1.25;
}

.c-homecontent a {
  font-weight: 800;
  text-decoration: none;
  text-shadow: -0.07em -0.07em #fff, -0.07em 0.07em #fff, 0.07em -0.07em #fff,
    0.07em 0.07em #fff;
  background-size: 1px 1em;
  box-shadow: inset 0 0 var(--color-brand-secondary),
    inset 0 -1px var(--color-brand-secondary);
  display: inline;
}

.c-homecontent p:last-of-type {
  margin-bottom: 0;
}

.c-homecontent__item {
  margin-bottom: calc(var(--gap) * 2);
}

.o-wrapper {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 calc(var(--gap) * 1.33);
}

.o-wrapper--smaller {
  max-width: 945px;
}

.c-singlepage .o-wrapper--smaller {
  margin-bottom: calc(var(--gap) * 2);
}

.c-singlepage {
  line-height: 1.65;
}

.c-singlepage ul {
  line-height: inherit;
}

.c-singlepage code {
  padding: 3px 6px;
}

.c-singlepage pre code {
  padding: 0;
}

.c-singlepage ul:not(.c-patterns-details) {
  list-style-type: square;
}

.c-singlepage ul ul {
  margin-top: -10px;
}

.c-singlepage a:not([class]) {
  font-weight: 800;
  text-decoration: none;
  text-shadow: -0.07em -0.07em #fff, -0.07em 0.07em #fff, 0.07em -0.07em #fff,
    0.07em 0.07em #fff;
  background-size: 1px 1em;
  box-shadow: inset 0 0 var(--color-brand-secondary), inset 0 -1px currentcolor;
  display: inline;
}

.c-singlepage a:focus {
  color: #222;
  outline: none;
  box-shadow: inset 0 0 #222, inset 0 -1px #222;
}

.c-singlepage blockquote {
  font-family: "Merriweather Italic", Georgia, serif;
}

.c-singlepage h2 {
  font-size: 32px;
  margin: 1em 0 0.75em;
  line-height: 1.25;
}

.c-singlepage h3 {
  font-size: 22px;
  line-height: 1.25;
}

.c-singlepage h4 {
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 0.75em;
}

.c-singlepage * + h3,
.c-singlepage * + h4 {
  margin-top: 1.75em;
}

.c-singlepage h2 + h3,
.c-singlepage h3 + h4 {
  margin-top: 0;
}

.c-singlepage h4 {
  text-transform: uppercase;
}

@media only screen and (min-width: 620px) {
  :root {
    --gap: 20px;
    --vgap: 25px;
  }

  .c-patterns__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap);
  }

  .c-patterns__pattern[data-mode="home"] {
    margin-bottom: 0;
  }

  .c-patterns__pattern[data-mode="page"] {
    margin-bottom: var(--vgap);
  }

  .c-patterns-details {
    margin-top: -10px;
  }

  body:not(.page--home) .c-patterns {
    margin-bottom: calc(2 * var(--vgap));
  }

  .c-footer__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap);
  }
}

@media only screen and (min-width: 960px) {
  :root {
    --gap: 30px;
    --vgap: 35px;
  }

  .c-header h1,
  .c-nav-main {
    margin: 0;
  }

  .c-nav-main__list {
    margin-left: 0;
  }

  .c-nav-main {
    display: flex;
    justify-content: flex-end;
  }

  .c-header__inner,
  .c-stage__inner {
    display: grid;
    grid-template-columns: [sidebar-start] 4fr [sidebar-end] 8fr [content-end];
    grid-gap: var(--gap);
  }

  .c-intro {
    grid-column: sidebar-start / sidebar-end;
  }

  .c-patterns {
    grid-column: sidebar-end / main-end;
  }

  .c-patterns__pattern[data-mode="page"] {
    margin-bottom: calc(0.5 * var(--vgap));
  }

  .c-patterns__wrapper {
    margin-bottom: -40px;
  }

  .c-homecontent.o-wrapper {
    margin-top: calc(3 * var(--vgap));
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-gap: calc(2 * var(--gap));
    padding-left: 0;
    padding-right: 0;
  }

  .c-demoapp {
    grid-column: 1 / 3;
    display: grid;
    grid-gap: calc(2 * var(--gap));
    grid-template-columns: 1fr 1fr;
  }

  .c-homecontent__item {
    margin-bottom: 0;
  }
}
